// font
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,700;1,400&display=swap');
$font: 'Jost', sans-serif;

// colors
$dark-blue: #182228;
$corail: #ffa97a;
$light-blue: #293241;
$white: #ffff;
$grey: #959595;

// spacing
$gutter: 1rem;
