// font 
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$font: 'Jost', sans-serif;

// colors
$primary-bg: #182228;
$secondary-bg: #FFA97A;
$navbar-bg: #17232B;
$footer-bg: #FFA97A;
$font-navbar: #FFFF;
$font-navbar-active: #FFA97A;
$font-body-title: #FFFF;
$font-body-section: #FFA97A;
$font-body-text: #959595;

// spacing
$gutter: 1rem;


