// font 
//@import url();
$font-title: 'Abril Fatface', sans-serif;
$font-txt: 'Montserrat', sans-serif;

// colors
$primary-bg: #182228;
$navbar-bg: #deede0;
$footer-bg: #cfe4d2;
$font-primary: #000;
$font-secondary: #4a8251;
$font-tertiary: #4682b4;

// margin / padding / size
$gutter: 1rem;


