@use 'reset';
@use 'src/styles/vars';

body {
  font-family: vars.$font-inter;
  color: #ffff;
  background: vars.$dark-blue;
  margin: 0;
  padding: 0;
}

// technique to paste the footer at the bottom of the page with App's display flex and auto margin-top on the Footer
#root {
  height: 100%;
}
