@use 'reset';
@use 'src/styles/vars';

body {
    font-family: vars.$font;
    background: vars.$primary-bg;
    margin: 0;
    padding: 0;
      
}

// technique pour coller le footer en bas de page avec le display
// flex de app et le margin top auto sur le footer
// #root {
//     height: 100%;
// }