@use '../../styles/_reset.css';
@use '../../styles/vars';
@import 'src/styles/mixin';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}

.button-to-top {
    @include btn-2;
  }
