@use 'src/styles/vars';
@import 'src/styles/mixin';

.card {
  margin-bottom: 1 * vars.$gutter;
  padding: 1.5 * vars.$gutter;
  background-color: vars.$light-blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  &-title {
    margin-bottom: 1 * vars.$gutter;
  }
  &-button {
    width: 100px;
    height: 32px;
    margin-top: 1 * vars.$gutter;
  }
  & img {
    max-width: 100%;
    width: 238px;
    height: 154px;
    border-radius: 10px;
  }
}
