@use 'src/styles/vars';
@import 'src/styles/mixin';

.card {
  padding: 1.5 * vars.$gutter;
  width: 90%;
  height: 250px;
  background-color: vars.$light-blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  &-title {
    margin-bottom: 1 * vars.$gutter;
  }
  &-button {
    width: 100px;
    height: 32px;
    margin-top: 1 * vars.$gutter;
  }
  & img {
    width: 245px;
    height: 122px;
  }
}
