@use 'src/styles/vars';

.recent-works {
  min-height: 100vh;
  padding-bottom: 4 * vars.$gutter;
}

@media (min-width: 640px) {
  .recent-works {
    padding-top: 3rem;
    min-height: 0;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
