@use 'src/styles/vars';
@import 'src/styles/mixin';

.header {
  width: 100%;
  min-height: 75vh;
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  & span {
    font-family: vars.$font-jost;
    font-size: 1.3rem;
    margin: vars.$gutter;
  }
  & img {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 2rem auto;
    max-height: 361px;
    min-height: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 30px 30px 10px 10px;
  }
  &-name {
    margin-bottom: vars.$gutter;
    font-size: 2.5rem;
  }
  &-profession {
    font-family: vars.$font-jost;
    font-size: 1rem;
    color: vars.$corail;
    font-weight: 400;
  }
  &-button {
    display: flex;
    justify-content: space-around;
    margin-top: 2 * vars.$gutter;
    &-cv,
    &-about {
      @include btn-1;
      line-height: 1;
      display: inline-block;
    }
    &-cv {
      margin-right: 10px;
    }
  }
}
.active {
  background-color: vars.$corail;
  color: vars.$dark-blue;
}

@media (min-width: 640px) {
  .header {
    min-height: 0;
    padding-top: 0;
    &-span {
      font-size: 2.3rem;
    }
    &-name {
      font-size: 3.5rem;
    }
    &-profession {
      font-size: 1.7rem;
    }
  }
}
