@use '../../styles/vars';

.nav {
  font-family: vars.$font-jost;
  text-align: center;
  background-color: #293241;
  min-height: 85px;
  width: 100%;
  padding: 1rem;
}

.nav-left {
  margin-bottom: 1.5 * vars.$gutter;
  &-title {
    font-size: 1.8rem;
  }
}

.nav-right {
  &-link {
    margin-right: vars.$gutter;
  }
}

// .active {
//   color: vars.$corail;
// }
