@use "../../styles/vars";

.nav {
  animation: fadein 0.6s;
  display: flex;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  text-align: center;
  background-color: #293241;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23182228' fill-opacity='0.66' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  min-height: 85px;
  width: 100%;
  padding: 1rem;
  align-items: center;
  align-content: flex-end;
  &-left {
    &-title {
      font-size: 1.8rem;
    }
  }
  &-right {
    &-link {
      margin-right: vars.$gutter;
    }
  }

  &-modal {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: vars.$dark-blue;
    top: 12.5%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.6s;

    &-right {
      display: flex;
      z-index: 3;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;

      &-link {
        padding: 2rem;
        color: white;
        font-size: 2rem;
        text-align: center;
        border-bottom: 1px solid white;
        font-weight: 500;
        animation: fadein 0.6s;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
