@use 'src/styles/vars';

.footer {
  position: relative;
  color: vars.$corail;
  background-color: vars.$light-blue;
  text-align: center;
  width: 100vw;
  margin-top: auto;
  padding: 2 * vars.$gutter 2 * vars.$gutter 0 2 * vars.$gutter;

  &-contact {
    font-weight: 500;
  }
  &-social {
    padding-top: 1 * vars.$gutter;
    margin-left: 1.5 * vars.$gutter;
  }

  &-logo {
    margin-top: vars.$gutter;
    margin-bottom: vars.$gutter;
    margin-right: 2 * vars.$gutter;
    width: 40px;
    height: 40px;
  }
  & p {
    margin-top: 1 * vars.$gutter;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
