@use 'src/styles/vars';

.about {
  padding-top: 3rem;
  min-height: 100vh;
}
.about-content {
  &-left {
    text-align: center;
  }
  &-left img {
    width: 160px;
    margin-bottom: 1 * vars.$gutter;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
  }
  &-text {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: vars.$grey;
  }
  &-button {
    display: flex;
    margin-top: 1 * vars.$gutter;
    justify-content: flex-end;
  }
}

@media (min-width: 640px) {
  .about {
    min-height: 0;
  }
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-left img {
      width: 260px;
      margin-right: 1rem;
    }
    &-right {
      margin-right: 20px;
      min-height: 325px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-text {
      font-size: 1rem;
      text-align: center;
    }
    &-button {
      margin-top: 0;
    }
  }
}

@media (min-width: 900px) {
  .about {
    margin: 0 7%% 0 7%;
  }
  .about-content-right {
    margin-right: 25px;
  }
}

@media (min-width: 1100px) {
  .about {
    margin: 0 9% 0 9%;
  }
}
