@use 'src/styles/vars';

.about {
  padding-top: 3rem;
  min-height: 100vh;
}
.about-content {
  &-img {
    text-align: center;
  }
  &-img img {
    width: 160px;
    margin-bottom: 1 * vars.$gutter;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
  }
  &-text {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: vars.$grey;
  }
  &-button {
    display: flex;
    margin-top: 1 * vars.$gutter;
    justify-content: flex-end;
  }
}
